[Unit]
Description=Dockhand Container Manager
After=docker.service dockhand.target
Requires=docker.service

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/usr/bin/systemctl start dockhand-container.service
ExecStop=/usr/bin/systemctl stop dockhand-container.service
TimeoutStartSec=0
TimeoutStopSec=30
WatchdogSec=30

[Install]
WantedBy=multi-user.target
