[Unit]
Description=AI Llama.cpp HIP Server
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
User={{ ai_engine_user }}
Group={{ ai_engine_group }}
WorkingDirectory={{ ai_engine_workspace }}/llama.cpp
ExecStart={{ ai_engine_workspace }}/llama.cpp/build/bin/llama-server --host 0.0.0.0 --port {{ ai_llama_cpp_port }} --model {{ ai_llama_cpp_model_path }}
Restart=always
RestartSec=3

[Install]
WantedBy=multi-user.target
